<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Cars Page</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h2>Tesla Images</h2>
    <img src="/images/tesla1.jpg">
    <img src="/images/tesla2.png">
    <img src="/images/tesla3.jpg">
  </body>
</html>
