<!DOCTYPE html>
<html lang = 'en'>
  <head>
    <title>Greeting Page</title>
  </head>
  <body>
    <h2>Welcome to Cats & Cars</h2>
    <ul>
      <a href="/cars"><li>View Cars</li></a>
      <a href="/cats"><li>View Cats</li></a>
      <a href="/cars/new"><li>Add Car Information</li></a>
    <ul>
  </body>
</html>
